.formattare{
	
    
	 background:url("../image/cibo_spazzatura_cancro_salute.jpg") no-repeat  top scroll;
     margin-left:50px;
	margin-top:5rem; 
     padding-top:1rem;
	padding-bottom:1rem;
	
	
}
body{
	background-color:rgba(0,204,255,0.5);
}
.struttura{
  
   
  background:rgba(0,0,0,0.5);
    padding:20px;
	margin-top:150px;
	margin-left:700px;
	margin-right:250px;
	margin-bottom:250px;
   font-family: bold sans-serif;  
}
h3{
	
	color:black;
	text-align: center;
}
h2{
	color:rgba(0,204,255,1);
	font-family:bold;
	text-align: center;
	
}
a:link {
  color: red;
}

/* visited link */
a:visited {
  color:rgba(0,204,255,1);
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: blue;
}